# Node dependencies
node_modules/

# Playwright artifacts
trace/
test-results/
json-report/
playwright-report/

# TypeScript build output
dist/

# Environment files
.env

# Logs
*.log

# System / editor files
.DS_Store
.idea/
.vscode/